
body {
    font-family: 'Catamaran', sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #0c0c0b;
}

.container {
    width: 90%;
    margin: auto;
}

/* HEADER */
.site-header {
    background-color: #F27123;
    padding: 25px 0;
    color: white;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    margin: 0;
    font-size: 40px;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-left: 50px;
    font-weight: bold;
    font-size: 25px;
}

.nav a:hover {
    text-decoration: underline;
}

/* BANNER */
.hero-banner {
    background: #fff;
    text-align: center;
}

.banner-img {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
}

.hero-text {
    padding: 30px;
}

.hero-text h2 {
    color: #F27123;
    font-size: 36px;
    margin-bottom: 10px;
}

/* GRID */
.info-section {
    padding: 40px 0;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}

.info-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(188, 133, 43, 0.1);
    border-bottom: 5px solid #dba06d;
    transition: 0.3s;
}

.info-card:hover {
    transform: translateY(-10px);
}

.info-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.info-card h3 {
    color: #F27123;
    margin-bottom: 10px;
}

/* GOOGLE MAP */
.map-section {
    background: #fff;
    padding: 40px 0;
}

.map-title {
    text-align: center;
    color: #F27123;
    font-size: 32px;
    margin-bottom: 20px;
}

.map-section iframe {
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.map-address {
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}

/* RESPONSIVE */
@media (max-width: 1000px) {
    .info-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .info-grid {
        grid-template-columns: 1fr;
    }

    .nav a {
        font-size: 18px;
        margin-left: 20px;
    }
}
/* VIDEO */
.video-section {
    background: #f4f4f4;
    padding: 40px 0;
}

.video-title {
    text-align: center;
    color: #F27123;
    font-size: 32px;
    margin-bottom: 20px;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 ratio */
    height: 0;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* FOOTER */
.site-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}
